.main {
  min-height: 100vh;
  padding-bottom: 1em;
}

.main h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.brand {
  display: block;
}

.brand h1 {
  font-style: italic;
}

.brand span {
  font-weight: bold;
  display: block;
}

.iconContainer {
  display: inline-block;
  margin-left: 10px;
}

.formLabel {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.lotteryInfo a {
  font-size: 0.9em;
}

.owner {
  width: fit-content;
}

.ticketEntry {
  margin: 1em auto 2em;
}

.ticketEntryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;

  span {
    display: inline-block;
  }
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}