.main {
  min-height: 100vh;
}

.main h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.brand {
  display: block;
}

.brand h1 {
  font-style: italic;
}

.brand span {
  font-weight: bold;
  display: block;
}

.iconContainer {
  display: inline-block;
  margin-left: 10px;
}

.ticketInfoContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;
  flex-wrap: wrap;
  span {
    display: inline-block;
  }
}

.gameRowCells {
  display: inline-block;
  div {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
  }
}

.powerballCell {
  border-radius: 50%;
  margin-left: 10px;
}

.powerballCell {
  display: inline-block;
  border: 1px solid black;
}

.lotteryInfo a {
  font-size: 0.9em;
}

.owner {
  width: fit-content;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}